<section class="centered about-group">
  <h2 class="group">About Us&#8230;</h2>
  <p class="group">We like maths</p>
  <p class="group">We do maths</p>
  <p class="group">4 u</p>
  <img src="maths_jumper.png" alt="maths olympics">
</section>