<!DOCTYPE>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sinatra Calculator</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/responsive.css">
</head>
<body>
  <header class="primary-header centered">
    <h1 class="logo color2"><a href="/"><small>Sorry,this is called</small> Calcool8ter</a></h1>
    <nav class="nav">
      <ul>
        <li><a class="color2" href="/about_us">About Us</a></li>
        <li><a class="color3" href="/contact_us">Contact Us</a></li>
      </ul>
    </nav>
  </header>

  <%= yield %>

</body>
</html>